body{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Merriweather Sans', sans-serif;
}

.header-section{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.header-section h1{
    font-weight: 900;
    font-size: 52px;
}

.link-button{
    text-decoration: none;
    color:white;
    background-color: orangered;
    border-radius: 5px;
    padding: 10px 20px;
    
}
.button-div{
    margin-top: 40px;
}